@import url('https://fonts.googleapis.com/css2?family=Martel&family=Montserrat:wght@500&family=Proza+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #003f3f;
}

h1 {
    font-family: Montserrat, sans-serif;
}

h2 {
    font-family: Martel, sans-serif;
}

p {
    font-family: "Proza Libre", sans-serif;
}

/* Style logo */
#logo {
    /* height: 7%; */
    text-align: center;
    font-size: 170%;
    margin: 1.5% auto;
}

#logo img {
    height: 64px;
}

/* Style hero image */
#hero-image {
    height: 400px;
    width: 100%;
    text-align: center;
    border-top: 2px solid #003f3f;
}

#video-dice {
    height: 100%;
    width: 100%;
}

#game-info {
    height: 400px;

}